<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>librys reading app</title>
    <!-- ANGULAR -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <script type="text/javascript" src="./main.js"></script>
    <script type="text/javascript" src="./services.js"></script>
    <script type="text/javascript" src="./controllers.js"></script>
    <!-- Source in angular-ui-bootstrap: -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
    <!-- Angular UI Bootstrap requires Bootstrap CSS version 3.x or higher  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' type="text/css" href="css/main.css">
    <link rel="icon" href="./images/sm_book_icon_celadon.png">
  </head>
  <body>
    <div class="container" ng-controller="mainController as main">
      <!-- Nav Bar ONLY shows if valid user currently logged in -->
      <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" ng-if="main.currentUser.username">
        <div class="container">
          <div class="navbar-brand">
            <img id="nav-icon" src="images/xsm_open_book.png" alt="book icon"/>
          </div>
          <div class="nav navbar-nav navbar-brand navbar-right" ng-controller="logoutController as logoutCtrl">
            <h4 id="nav-name-display">{{ main.currentUser.username }}</h4>
            <button type="button" class="btn btn-default navbar-btn" ng-click='logoutCtrl.logout()'>Logout</button>
          </div>
        </div>
      </nav>
      <!-- END Nav Bar -->
      <div ui-view></div>
    </div>
  </body>
</html>
