/* ----------------------- */
/* APP-WIDE VIEWS STYLING: */
/* ----------------------- */
body {
  /*platinum grey*/
  background-color: #e0e0e0;
  /*smoky black*/
  color: #090e0e;
  /*because of fixed nav-bar:*/
  /*padding-top: 70px;*/
}

/* ----------------------- */
/* ROOT/INDEX VIEW:        */
/* ----------------------- */
#background {
  background-image: url("../images/background_pattern.png");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.jumbotron {
  position: absolute;
  background-color: white;
  opacity: 0.9;
  min-height: 40% | 160px;
  width: 50%;
  top: 20%;
  left: 25%;
  text-align: center;
  margin: 0 auto;
}

.root-btn {
  background-color: #c6bbb4;
  margin: 20px;
}

#fake-navbar h3, #fake-navbar div {
  display: inline-block;
}

.books-list-items {
  list-style-type: none;
}

.book-front {
  height: 60px;
}

#search-results {
  margin-top: 8px;
  border: 1px solid #c6bbb4;
  height: 200px;
  width: 100%;
  overflow: scroll;
}

/* ----------------------- */
/* HELPER STYLING:         */
/* ----------------------- */
.sm-padding {
  padding: 8px;
}
