/* ----------------------- */
/* APP-WIDE VIEWS STYLING: */
/* ----------------------- */
body {
  /*platinum grey*/
  background-color: #e0e0e0;
  /*smoky black*/
  color: #090e0e;
}

/* ----------------------- */
/* ROOT/INDEX VIEW:        */
/* ----------------------- */
#background {
  background-image: url("../images/background_pattern.png");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.jumbotron {
  position: absolute;
  background-color: white;
  opacity: 0.9;
  height: 40%;
  width: 50%;
  top: 20%;
  left: 25%;
  text-align: center;
}

.root-btn {
  background-color: #c6bbb4;
  margin: 20px;
}
