/* ----------------------- */
/* APP-WIDE VIEWS STYLING: */
/* ----------------------- */
body {
  /*platinum grey*/
  background-color: #e0e0e0;
  /*smoky black*/
  color: #090e0e;
  /*because of fixed nav-bar:*/
  padding-top: 90px;
}

/* ----------------------- */
/* ROOT/INDEX VIEW:        */
/* ----------------------- */
#background {
  background-image: url("../images/background_pattern.png");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.jumbotron {
  position: absolute;
  background-color: white;
  opacity: 0.9;
  min-height: 40% | 160px;
  width: 50%;
  top: 20%;
  left: 25%;
  text-align: center;
  margin: 0 auto;
}

.root-btn {
  background-color: #c6bbb4;
  margin: 20px;
}
/* --------------- */
/* Nav bar styling */
/* --------------- */

#main-nav {
  height: 90px;
  background-color: #e0e0e0;
  border-color: rgba(255,255,255,0);
}

#nav-icon {
  height: 60px;
}

#nav-name-display {
  display: inline-block;
  padding-right: 6px;
  color: #090e0e;
}

.btn-icons {
  color: #090e0e;
}
/* ------------------- */
/* END Nav bar styling */
/* ------------------- */

/* --------------------- */
/*SEARCH RESULTS DISPLAY */
/* --------------------- */
#search-results-display {
  overflow: scroll;
  margin-top: 14px;
  background-color: #d9d9d9;
}

.book-front {
  height: 80px;
}

.sr-item {
  width: 20%;
  padding: 8px;
}

.sr-image {
  width: 15%;
  padding: 8px;
}

/* -------------------------- */
/* END SEARCH RESULTS DISPLAY */
/* -------------------------- */

.collections {
  margin-top: 8px;
  height: 240px;
  width: 100%;
}

/* ------------------- */
/* USER BOOKS DISPLAYS */
/* ------------------- */

#pager-div {
  padding-left: 38px;
}

.hr-fav-displays {
  float: left;
  position: absolute;
  left: 74px;
  top: 30px;
  padding-top: 4px;
  padding-left: 32px;
  width: 86%;
}

.frame {
  position: relative;
}

.frame-img {
  width: 100%;
}

.hr-book-front {
  height: 86px;
}

.hr-books {
  max-width: 100px;
  text-align: center;
  height: 180px;
}

.hr-books a {
  text-decoration: none;
}

.hr-books-title {
  height: 40px;
  word-wrap: normal;
}

.hr-books-title p {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.fav-book-front {
  display: inline-block;
  vertical-align: middle;
}

.align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* ----------------------- */
/* STAR RATING:         */
/* ----------------------- */
.rating{
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  height: 120px;
}

/* ----------------------- */
/* HELPER STYLING:         */
/* ----------------------- */
.sm-padding {
  padding: 8px;
}

.display-container {
  margin: 6px;
}
