<!-- ***************** -->
<!-- TODO: remove to nav partial: -->
<!-- ***************** -->
<div ng-if="main.currentUser.username" id="fake-navbar">
  <img src="../../images/xsm_open_book.png"/>
  <h3>Welcome, {{ main.currentUser.username }}</h3>
  <div ng-controller="logoutController as logoutCtrl">
    <a ng-click='logoutCtrl.logout()' class="btn btn-default">Logout</a>
  </div>
</div>
<!-- ***************** -->

<div id="books-controller"  ng-controller="booksController as bc">
  <form class="form-inline" id ="search-form" method="GET" ng-submit="bc.findBook(titleSearch, authorSearch)">
    <!-- <p>{{ bc.title }}</p> -->
    <h4>Search for Books To Add to Your Collections:</h4>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" placeholder="i.e., Great Expectations" ng-model="titleSearch">
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" placeholder="i.e., Charles Dickens" ng-model="authorSearch">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <div id="search-results" class="container">
    <table class="bordered highlight centered">
    <thead>
      <tr></tr>
    </thead>
    <tbody>
      <tr class="collection-items" ng-repeat="book in bc.books">
        <td class="sm-padding"><img class="book-front" ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}" alt="front cover" /></td>
        <td>{{ book.volumeInfo.title | limitTo: 80 }}</td>
        <td>{{ book.volumeInfo.authors[0] }}</td>
        <td>
            <!-- <a ui-sref="book" class="btn btn-default">View Book</a> -->
        </td>
      </tr>
    </tbody>
  </table>
  </div>

</div><!-- CLOSES id="books-controller"  ng-controller="booksController as bc" -->
