<!-- ***************** -->
<!-- TODO: remove to nav partial: -->
<!-- ***************** -->
<div ng-if="main.currentUser.username" id="fake-navbar">
  <img src="../../images/xsm_open_book.png"/>
  <h3>Welcome, {{ main.currentUser.username }}</h3>
  <div ng-controller="logoutController as logoutCtrl">
    <a ng-click='logoutCtrl.logout()' class="btn btn-default">Logout</a>
  </div>
</div>
<!-- ***************** -->

<!-- <my-nav></my-nav> -->

<div class="container">
    <h4>My Bookshelf:</h4>
</div>

<div id="have-read-display" class="container collections">
  <table class="bordered highlight centered" ng-init="uc.getBooks()">
  <tbody>
    <tr class="collection-items">
      <td class="sm-padding" ng-repeat="book in uc.haveRead | limitTo: 9">
        <div class="hr-books">
          <img class="hr-book-front" ng-src="{{book.smThumbnailUrl}}" alt="front cover" />
          <div class="hr-books-title">
            <p>{{ book.title | limitTo: 28 }}</p>
          </div>
          <ul class="rating">
            <li class="empty" ng-click="uc.updateRating(book, 1)">&#9733;</li>
            <li class="empty" ng-click="uc.updateRating(book, 2)">&#9733;</li>
            <li class="empty" ng-click="uc.updateRating(book, 3)">&#9733;</li>
            <li class="empty" ng-click="uc.updateRating(book, 4)">&#9733;</li>
            <li class="empty" ng-click="uc.updateRating(book, 5)">&#9733;</li>
          </ul>
          <a ng-click='uc.removeBook(book)' class="btn btn-default btn-xs">Delete</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>

<div class="container">
  <ul class="pager">
   <li class="previous"><a href="#" class="btn btn-default">Previous</a></li>
   <li class="next"><a href="#" class="btn btn-default">Next</a></li>
  </ul>
</div>

<div class="container">
  <form class="form-inline" id ="search-form" method="GET" ng-submit="uc.findBook(titleSearch, authorSearch)">
    <h4>Search for Books To Add to Your Bookshelf:</h4>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" placeholder="i.e., Great Expectations" ng-model="titleSearch">
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" placeholder="i.e., Charles Dickens" ng-model="authorSearch">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>
</div>

<div class="container collections" id="search-results-display">
  <table class="bordered highlight centered">
  <tbody>
    <tr class="collection-items" ng-repeat="book in uc.books">
      <td class="sm-padding"><img class="book-front" ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}" alt="front cover" /></td>
      <td>{{ book.volumeInfo.title | limitTo: 80 }}</td>
      <td>{{ book.volumeInfo.authors[0] }}</td>
      <td>
          <a ng-click='uc.addBook(book)' class="btn btn-default">Add to Have Read</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
