<!-- repeating background image: -->
<div id="background">
  <!-- jumbotron: -->
  <div class="container" id="root-container">
     <div class="jumbotron">
        <h1>Welcome to librys!</h1>
        <p>noun | li·bris | \<strong>lee</strong>-bris\</p>
        <p>A handy web bookshelf where you can track and rate books you've read!</p>
        <div id="root-buttons">
          <a ui-sref="login" class="btn btn-default root-btn">Login</a>
          <a ui-sref="register" class="btn btn-default root-btn">Register</a>
        </div>
     </div>
  </div>
</div>
