<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <img id="nav-icon" src="../../images/xsm_open_book.png" alt="book icon"/>
    <div ng-if="main.currentUser.username">
      <h4 id="nav-name-display">Welcome, {{ main.currentUser.username }}</h4>
      <div ng-controller="logoutController as logoutCtrl">
        <a ng-click='logoutCtrl.logout()' class="btn btn-default navbar-right">Logout</a>
      </div>
    </div> <!-- CLOSES: ng-if="main.isLoggedIn()" -->
  </div>
</nav>
